<castle>
  <components>
    <component id="TemplateParserService"
           type="Kana.Service.TemplateParserService, Kana.Service"
           service="Kana.Model.Interfaces.Service.ITemplateParserService, Kana.Model">
      <parameters>
        <templateDirectory>C:\\Working\\Kana\\src\\Kana.Web\\Views\\Template</templateDirectory>
      </parameters>
    </component>
    <component id="PdfExportService"
               type="Kana.Service.PdfExportService, Kana.Service"
               service="Kana.Model.Interfaces.Service.IPdfExportService, Kana.Model">
      <parameters>
        <wkhtmltopdfPath>C:\\Working\\Kana\\tools\\\wkhtmltopdf\\wkhtmltopdf.exe</wkhtmltopdfPath>
      </parameters>
    </component>
  </components>
</castle>