<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net40" />
  <package id="Auxilium.Castle.Components.Validator" version="3.2.0.1" targetFramework="net40" />
  <package id="Castle.Boo" version="2.0.9.3" targetFramework="net40" />
  <package id="Castle.Components.Binder" version="2.5.0.0" targetFramework="net40" />
  <package id="Castle.Components.Pagination" version="1.1.1.0" targetFramework="net40" />
  <package id="Castle.Components.Validator" version="2.5.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="CustomMonorail2" version="2.0.0.4" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
</packages>